<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener</title>
    <meta name="description" content="Url shortener app">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="main-container">
      <h1>
        URL SHORTENER
      </h1>
      <input type = "text" placeholder="Put an URL to shorten" id="url-field">
      <button id="shortener">
        Shorten
      </button>
      <div id = "response">
        <a id="long-url"></a>
        <a id="short-url"></a>
        <p id="error-message"></p>
      </div>
  </div>
  </body>
  <script src="/shortener.js"></script>
</html>
